body {
    margin: auto; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color:darkslategray;
    color: mintcream
    
    
}

#employees {
    margin-left: auto;
    margin-right: auto;
}

#employees tr {
    color:yellow
}

#employees tr:hover {
    background-color:darkgrey
}

#employees td, #employees th {
   border: 1px solid #fff;
   padding: 15px;
   
   
}

#employees th {
    color: darkkhaki;
}

